.lane{:style=>"background-color: #FFF;"}
  %h1 Статьи > Передача показаний для "Волгаэнергосбыт" (www.volgaenergo.ru)
  %p
    %div
      ЗАО «Волгаэнергосбыт» (Волгаэнергосбыт) предлагает несколько способов передачи показаний счетчиков электро энергии и горячей воды:
    %ol
      %li по электронной почте;
      %li по SMS.
  %h2 Передача показаний по электронной почте
  %p
    %div
      Для передачи показаний электроэнергии в ОАО ЗАО «Волгаэнергосбыт» (Волгаэнергосбыт) необходимо выполнить следующие щаги:
    %ul
      %li
        %div
          cоздать помещение (если Вы еще не зарегистрировали в системе
          -brand
          ни одного помещения);
      %li
        %div
          создать (или добавить к помещению) счетчики элекроэнергии и/или горячей воды. Количество счетчиков электроэнергии будет соответствовать количеству тарифов: для однотарифного - один, для двухтарифного счетчика - два, для трехтарифного - три.
          Для любого из счетчиков указать номер лицевого счета абонента.
      %li
        %div
          создать нового получателя показаний. Введите в имени получателя "Волгаэнергосбыт", в способе передачи показания - "по электронной почте" и введите следующий адрес:
          %code.uk-text-bold pokazanie@volgaenergo.ru
          %p Далее в шаблоне передаваемого сообщения введите произвольный текст, содержащий показания ваших счетчиков. Например:
          %div.uk-panel-box
            %div
              %div Добрый день!
              %div Передаю показания за {ТЕКУЩИЙ_МЕСЯЦ} по помещению, находяшемуся по адресу {АДРЕС_ПОМЕЩЕНИЯ_1}
              %div {НАЗВАНИЕ_СЧЕТЧИКА_1_1} ({ТИП_СЧЕТЧИКА_1_1}) - {ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
              %div {ТИП_СЧЕТЧИКА_1_2} ({НАЗВАНИЕ_СЧЕТЧИКА_1_2}) - {ПОКАЗАНИЕ_СЧЕТЧИКА_1_2}
              %div --
              %div С уважением, {ИМЯ_ПОЛЬЗОВАТЕЛЯ}
          %mark.uk-text-small Номера счетчиков указаны в качестве примера и должны соответствовать вашей конфигурации учетной записи
          %p
            %div
              где
              %ul
                %li {НАЗВАНИЕ_СЧЕТЧИКА_1_1} – название счетчика, например "Ванна"
                %li {ТИП_СЧЕТЧИКА_1_1}  – тип счетчика, "ГВС""
                %li {ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} – показание счетчика "Ванна", 
                %li {НАЗВАНИЕ_СЧЕТЧИКА_1_2} – название счетчика, например "День"
                %li {ТИП_СЧЕТЧИКА_1_2}  – тип счетчика, "Электроснабжение"
                %li {ПОКАЗАНИЕ_СЧЕТЧИКА_1_2} – показание счетчика "День", 
  %h2 Передача показаний по SMS
  %p
    %div
      Настройка
      -brand
      для передачи показаний по SMS аналогична настройке передачи по электронной почте.
      Но для передачи по SMS Вы должны по-другому настроить получателя показаний:
  %p
    %div
      Введите в имени получателя "Волгаэнергосбыт", в способе передачи показания - "по SMS" и введите следующий мобильный номер:
      %code.uk-text-bold +9519036005
      %p Далее в шаблоне передаваемого сообщения введите
      %ul
        %li
          %div
            для передачи показаний счетчика горячей воды в ванной:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} VA-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
          //%li
          %div
            для передачи показаний счетчика горячей воды на кухне:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} KU-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
          //%li
          %div
            для передачи показаний счетчика горячей воды в санузеле:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} SU-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
          //%li
          %div
            для передачи показаний счетчика горячей воды в кладовой:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} KL-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
          //%li
          %div
            для передачи показаний счетчика горячей воды в коридоре:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} KR-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
          //%li
          %div
            для передачи показаний счетчика горячей воды в инженерной нише:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} IN-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
        %li
          %div
            для передачи показаний счетчика электроэнергии:
            %div.uk-panel-box
              %span {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} T1-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} T2-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2} T2-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_3}
            или
            %div.uk-panel-box
              %span {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} D-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} N-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2} P-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_3}
            или
            %div.uk-panel-box
              %span {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} D-{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
      %mark.uk-text-small Номера счетчиков указаны в качестве примера и должны соответствовать вашей конфигурации учетной записи
      %p
        %div
          где
          %ul
            %li {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} - номер лицевого счета;
            %li Т1, Т2, Т3 - символы тарифа на приборе учета;
            %li D - день, N - ночь, P - полупик;
            %li {ПОКАЗАНИЕ_СЧЕТЧИКА_#_#} - соответствующие показания счетчиков