.lane{:style=>"background-color: #FFF;"}
  %h1 Статьи > Передача показания электроэнергии для "Энергосбыта" (nsk.elektra.ru)
  %p
    %div
      ОАО «Нижегородская сбытовая компания» (Энергосбыт) предлагает несколько способов передачи показаний счетчиков:
    %ol
      %li по электронной почте;
      %li по SMS.
  %h2 Передача показаний по электронной почте
  %p
    %div
      Для передачи показаний электроэнергии в ОАО «Нижегородская сбытовая компания» (Энергосбыт) необходимо выполнить следующие щаги:
    %ul
      %li
        %div
          cоздать помещение (если Вы еще не зарегистрировали в системе
          -brand
          ни одного помещения);
      %li
        %div
          создать (или добавить к помещению) счетчики элекроэнергии. Количество счетчиков будет соответствовать количеству тарифов: для однотарифного - один, для двухтарифного счетчика - два, для трехтарифного - три.
          Для любого из счетчиков указать номер лицевого счета абонента. Лицевой счет абонентов ОАО «Нижегородская сбытовая компания» содержит 10 знаков (указан в платежном документе)
          %br
          %p
            В итоге в секции "Счетчики" Вашего профиля должно быть примерно следующее:
          %p
            %img.helpimg{:src=>"/img/article/nskelektra1.png"}
      %li
        %div
          создать нового получателя показаний. Введите в имени получателя "Энергосбыт", в способе передачи показания - "по электронной почте" и введите следующий адрес:
          %code.uk-text-bold svet@nsk.elektra.ru
          %p Далее в шаблоне передаваемого сообщения введите:
          %div.uk-panel-box
            %div
              %div S_{ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1}
              %div P_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
              %div PP_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2}
              %div N_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_3}
          %mark.uk-text-small Номера счетчиков указаны в качестве примера и должны соответствовать вашей конфигурации учетной записи
          %p
            %div
              где
              %ul
                %li S_{ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} – номер лицевого счета абонента;
                %li P_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} – показание пиковой зоны (также показание однотарифного счетчика), 
                %li PP_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2} – показание полупиковой зоны (только для 3-тарифных счетчиков), 
                %li N_{ПОКАЗАНИЕ_СЧЕТЧИКА_1_3} – показание ночной зоны. 
          %p
            В итоге в секции "Получатели" Вашего профиля должно быть примерно следующее:
            %p
              %img.helpimg{:src=>"/img/article/nskelektra2.png"}
  %h2 Передача показаний по SMS
  %p
    %div
      Настройка
      -brand
      для передачи показаний по SMS аналогична настройке передачи по электронной почте.
      Но для передачи по SMS Вы должны по-другому настроить получателя показаний:
  %p
    %div
      Введите в имени получателя "Энергосбыт", в способе передачи показания - "по SMS" и введите следующий мобильный номер:
      %code.uk-text-bold +79037676049
      %p Далее в шаблоне передаваемого сообщения введите
      %ul
        %li
          %div
            для однотарифного счетчика:
            %div.uk-panel-box
              %span
                {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1}
                ="\#{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}"
        %li
          %div
            для двухтарифного счетчика:
            %div.uk-panel-box
              %span {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1}#T1*{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}#T2*{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2}
        %li
          %div
            для двухтарифного счетчика:
            %div.uk-panel-box
              %span {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1}#T1*{ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}#T2*{ПОКАЗАНИЕ_СЧЕТЧИКА_1_2}#T3*{ПОКАЗАНИЕ_СЧЕТЧИКА_1_3}
      %mark.uk-text-small Номера счетчиков указаны в качестве примера и должны соответствовать вашей конфигурации учетной записи
      %p
        %div
          где
          %ul
            %li {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} – номер лицевого счета абонента;
            %li {ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} – показание пиковой зоны (также показание однотарифного счетчика),
            %li {ПОКАЗАНИЕ_СЧЕТЧИКА_1_2} – показание ночной зоны;
            %li {ПОКАЗАНИЕ_СЧЕТЧИКА_1_3} – показание полупиковой зоны (только для 3-тарифных счетчиков).
      %p
        %div
          %p При тестировании шаблона, сообщение должно выглядеть примерно так:
          %ul
            %li для однотарифного счетчика - 1234567890#567895
            %li для двухтарифного прибора учета - 1234567890#T1*34500#T2*67800
            %li для трехтарифного прибора учета - 1234567890#T1*34500#T2*67800#Т3*56700