.uk-container-center.uk-width-large-1-1.lane{:style => "background-color: #FFF;"}
  %h1 Часто задаваемые вопросы
  %div
    //%code Вопрос
    %p.uk-text-bold Что это за сайт, зачем он мне и какая от него польза?
  %div.uk-margin-left
    //%code Ответ
    %p
      Сначала представлюсь... Меня зовут Сергей Родионов и я разработчик сайта
      -brand
      =". Сайт создавался персонально для себя после того как я, в очередной, наверное, пятый раз, вовремя не передал показания счетчиков. Что мне мешало? Многое... Я вечно забывал на какой адрес электронной почты нужно отправить письмо с показаниями, я забывал какие показания я уже передавал, что-бы в этом месяце не выйти из норматива, я забывал крайнюю дату передачи показаний и т.п."
      В результате я сказал: "Стоп. Пора этот утомительный и однообразный процесс как-то автоматизировать". И я сделал
      -brand
      =". Если у Вас схожие проблемы, то надеюсь"
      -brand
      поможет и Вам!
  %hr
  %div
    %p.uk-text-bold Сайт платный или нет?
  %div.uk-margin-left
    //%code Ответ
    %p
      Как всегда - часть функций предоставляется бесплатно, но часть функций, за которые приходится платить другим компаниям, например, отправка SMS, доступна только поле покупки полного функционала.
      Плата символичная и составляет
      -haml_concat getMonthlyPrice
      руб. в месяц или
      -haml_concat getYearlyPrice
      руб. в год.
  %hr
  %div
    %p.uk-text-bold
      Что может
      -brand
      ?
  %div.uk-margin-left
    %p
      -brand
      может передавать показания по электронной почте, по SMS, напоминать вам о наступлении даты передачи показаний, хранить историю переданных показаний.
  %hr
  %div
    %p.uk-text-bold
      Как пользоваться
      -brand
      ?
  %div.uk-margin-left
    %p
      Пользоваться
      -brand
      довольно просто: нужно ввести информацию о счетчиках и сформировать шаблон, по которому показания будут передаваться. Для Вашего удобства разработан «мастер», который по шагам соберет всю необходимую информацию и настроит Вашу учетную запись. В дальнейшем все параметры можно легко изменить.
  %hr
  %div
    //%code Вопрос
    %p.uk-text-bold Есть ли ограничения при отправке показаний по SMS?
  %div.uk-margin-left
    //%code Ответ
    %p
      Да.
      %ol
        %li Нельзя отправить SMS на короткий номер;
        %li Мы иногда меняем номер отправителя, поэтому если Ваша распределительная компания требует регистрации номера, с которого приходят показания, то лучше использовать передачу показаний по электронной почте.
  %hr
  %div
    //%code Вопрос
    %p.uk-text-bold Я заплатил, но сайт мне не понравился. Могу ли я вернуть деньги?
  %div.uk-margin-left
    //%code Ответ
    %p
      Да, за вычетом средств, потраченных на отправку SMS.
      %a{:href=>"mailto:countr.io@yandex.ru"}
        Напишите письмо
      с заявкой на возврат и указанием причины, почему
      -brand
      Вам не подошел. Деньги будут возвращены на Yandex.кошелек.