.lane{:style=>"background-color: #FFF;"}
  %h1 Справка > Отправка показаний счетчика
  %p
    %div
      -brand
      позволяет передавать показания счетчиков по электронной почте и SMS.
      Перед передачей показаний Вам необходимо
      %uk-text-bold
        один раз
      настроить свою учетную запись в системе
      -brand
  %p
    %div
      Для этого:
      %ol.uk-margin-top
        %li
          создайте помещение, для которого Вы хотите передавать показания;
          %p.uk-text-small
            %a{:href=>"/help/newhome"} Инструкция
        %li
          создайте для этого помещения один или несколько коммунальных счетчиков;
          %p.uk-text-small
            %a{:href=>"/help/newcounter"} Инструкция

        %li
          создайте получателя показаний и укажите для него формат отправляемого email- или SMS-сообщения;
          %p.uk-text-small
            %a{:href=>"/help/newchannel"} Инструкция
  %p
    %div
      %mark.uk-text-small
        Для упрошения процесса настройки учетной записи, мы разработали специальный "мастер", который помогает внести в систему все необходимые праметры.
        "Мастер" запускается автомастически при отсутвии в вашей учетной записи хотя-бы одного помещения.
  %p
    %div
      После настройки всех параметров Вашей учетной записи, система
      -brand
      готова к передаче показаний.
  %p
    %div
      Перейдите на
      %a{:href=>"/"} главную страницу
      , на которой будут перечислены ранее зарегистрированные счетчики.
      %ol
        %li введите показания счетчика в форму, расположенную рядом
        %li
          %div
            протестируйте, отправляемое сообщение, с помошью кнопки
            %button.uk-button.uk-button-small{:type=>"button"}
              Тест
        %li
          %div
            отправьте показания счетчиков, с помошью кнопки
            %button.uk-button.uk-button-small{:type=>"button"}
              Отравить
  %p
    %img.helpimg{:src=>"/img/help/sendindication.png"}
  %p
    %div
      История переданных показаний, также будет отображаться на
      %a{:href=>"/"} главной странице
      системы
      -brand
  %p
    %img.helpimg{:src=>"/img/help/history.png"}