.lane{:style=>"background-color: #FFF;"}
  %h1 Справка > Создание нового помещения
  %p
    %div
      Для создания помещения перейдите на
      %a{:href=>"/profile"} страницу своего профиля
      и нажмите на значок
      %h2.uk-display-inline
        %i.uk-icon-plus-circle
  %p
    %img.helpimg{:src=>"/img/help/homeadd.png"}
  %p
    %div
      На открывшейся странице заполните форму и укажите:
      %ul
        %li название помещения (обязательный параметр);
        %li адрес (обязательный параметр).
  %p
    %img.helpimg{:src=>"/img/help/homeform.png"}
  %p
    %div
      Для сохранения помещения нажмите на кнопку
      %button.uk-button.uk-button-small{:type=>"button"}
        Сохранить
        %i.uk-icon-angle-double-right

