.lane{:style=>"background-color: #FFF;"}
  %h1 Справка > Редактирование профиля
  %p
    %div
      -brand
      позволяет в любой момент изменить все элементы данных, которые Вы ранее создали в своей учетной записи.
      Редактирование данных происходит на странице своего профиля.
      Все элементы данных, доступные для редактирования выделены
      %span.editable-click пунктирной линией
  %p
    %img.helpimg{:src=>"/img/help/editable.png"}
  %p
    %div
      Для редактирования кликните на соответствующем элементе и в открывшейся форме введите новое значение.
  %p
    %img.helpimg{:src=>"/img/help/editableform.png"}
  %p
    %div
      Для сохранения изменений - нажмите на кнопку
      %button.uk-button.uk-button-small{:type=>"button"}
        ok
      а , для отмены изменений -
      %button.uk-button.uk-button-small{:type=>"button"}
        cancel