.lane{:style=>"background-color: #FFF;"}
  %h1 Справка > Создание нового получателя показаний
  %p
    %div
      Для создания получателя показаний перейдите на
      %a{:href=>"/profile"} страницу своего профиля
      и в секции “Получатели” нажмите на значок
      %h2.uk-display-inline
        %i.uk-icon-plus-circle
  %p
    %img.helpimg{:src=>"/img/help/channeladd.png"}
  %p
    %div
      На открывшейся странице заполните форму и укажите:
      %ul
        %li название получателя (обязательный параметр);
        %li способ передачи показаний (по SMS или по электронной почте, обязательный параметр) и введите либо адрес электронной почты, либо мобильный номер получателя;
        %li шаблон сообщения, который будет отправляться получателю показаний.
  %p
    %img.helpimg{:src=>"/img/help/channelform.png"}
  %p
    %div
      Для создания нескольких получателей сразу - нажмите на кнопку
      %button.uk-button.uk-button-small{:type=>"button"}
        %i.uk-icon-plus
      Для сохранения получателя показаний нажмите на кнопку
      %button.uk-button.uk-button-small{:type=>"button"}
        Сохранить
        %i.uk-icon-angle-double-right
  %h2 Элементы данных
  %p
    %div
      Все ранее созданные атрибуты помещения (название, адрес) и счетчика (название, тип, лицевой счет или номер, показания),а также ряд дополнительных (отчетный период, имя пользователя) являются элементами данных, которые могут быть использованы для подготовки шаблона сообщения, отправляемого получателю показаний.
  %p
    %img.helpimg{:src=>"/img/help/data.png"}
  %h2 Формирование шаблона сообщения
  %p
    %div
      Шаблон сообщения представляет собой "заготовку" сообщения, который будет отправляться получателю показаний по электронной почте или SMS. Шаблон сообщения может содержать любой текст, но в теле сообщения обязательно должен находиться хотя-бы один элемент данных с показаниям счетчиков {ПОКАЗАНИЯ_СЧЕТЧИКА_#_#}.
      Для формирования шаблона введите в форме произвольный текст и/или перенесите  в нее элементы данных, расположенные справа. Также, для использования в шаблоне элемента данных достаточно дважды кликнуть на нем.
  %h3 Пример шаблона сообщения для передачи показаний счетчиков по электронной почте:
  %p
    %div.uk-panel-box
      %code.xml
        %div Здравствуйте!
        %div Передаю показания за {ТЕКУЩИЙ_МЕСЯЦ} по адресу {АДРЕС_ПОМЕЩЕНИЯ_1}
        %div {НАЗВАНИЕ_СЧЕТЧИКА_1_1} ({ТИП_СЧЕТЧИКА_1_1}) - {ПОКАЗАНИЕ_СЧЕТЧИКА_1_1}
        %div {НАЗВАНИЕ_СЧЕТЧИКА_1_2} ({ТИП_СЧЕТЧИКА_1_2}) - {ПОКАЗАНИЕ_СЧЕТЧИКА_1_2}
        %div Спасибо!
        %div С уважением, {ИМЯ_ПОЛЬЗОВАТЕЛЯ}
  %h3 Пример шаблона сообщения для передачи показаний счетчиков по SMS:
  %p
    %div.uk-panel-box
      %code.xml
        %div {ЛИЦЕВОЙ_СЧЕТ_СЧЕТЧИКА_1_1} {ПОКАЗАНИЕ_СЧЕТЧИКА_1_1} Иванов
  %h2 Тестирование шаблона сообщения
  %p
    %div
      Для проверки корректности формирования сообщения по шаблону нажмите кнопку
      %button.uk-button.uk-button-small{:type=>"button"}
        Тест
      Во всплывающем окне будет показан шаблон, в котором все элементы данных будут заменены на соответствующие значения. Показания счетчиков будут заменены на "##".
  %p
    %img.helpimg{:src=>"/img/help/test.png"}
  %p
    %div
      Если сформированное сообщение не устраивает, то внесите изменения в шаблон.