.lane2
  %div
    %h2
      -brand
      от всей души поздравляет Вас с Новым Годом!!! Желаем всего самого хорошего и светлого Вам и Вашим близким!
      И в честь этого праздника дарим Вам замечательную открытку и месяц бесплатного использования всех функций нашего сервиса.
  %p.uk-text-center
    %img{:src=>"/img/hny2015.gif"}
  %br
  %form{:action => "/HNY2015", :method=>"post"}
    .uk-text-center
      %button.uk-button.uk-button-primary.uk-button-large{:type=>"submit"}
        Получить подарок
