!!!5
%html
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %title countr.io::система передачи показаний коммунальных счетчиков
    %meta{:name=>"description", :content=>"Система передачи показаний коммунальных счетчиков. Передавайте показания счетчиков вовремя, быстро и просто."}
    %meta{:name=>"keywords", :content=>"показания, счетчик, на воду, на газ, на электричество, передать показания, сообщить показания, онлайн, коммунальные счетчики"}

    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/uikit.almost-flat.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/css/addons/uikit.almost-flat.addons.min.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css", :rel => "stylesheet"}
    %link{:href => "//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css", :rel => "stylesheet"}
    %link{:href => "/css/custom.css", :rel => "stylesheet", :type => "text/css"}
    
    %script{:src => "http://yastatic.net/jquery/2.1.1/jquery.min.js", :type=>"text/javascript"}
    %script{:src => "http://yastatic.net/jquery-ui/1.11.1/jquery-ui.min.js", :type=>"text/javascript"}
    %script{:src => "/js/uikit.min.js", :type=>"text/javascript"}
    %script{:src => "/js/jquery.validate.min.js", :type=>"text/javascript"}
    %script{:src => "/js/addons/notify.min.js", :type=>"text/javascript"}
    %script{:src => "/js/addons/sticky.min.js", :type=>"text/javascript"}
    %script{:src => "/js/addons/datepicker.min.js", :type=>"text/javascript"}
    //%script{:src => "//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"}
    %script{:src => "/js/jquery-editable-poshytip.min.js"}
    %script{:src => "//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js", :type=>"text/javascript"}

    :javascript
      function displaynotify(txt) {
        $.UIkit.notify({
          message : txt,
          timeout : 5000,
          pos     : 'top-center',
          status  : 'info'
        });
      }
  %body
    -navbar
    %div{:style=>"min-height:100%; position: relative;"}
      .content{:style=>"padding: 0px 0px 141px;"}
        =yield
        -if session[:messagetodisplay].to_s.size > 0
          -session[:messagetodisplay].split("; ").each do |m|
            :javascript
              displaynotify("#{m}");
        - clearflashmessage
      .tm-footer
        .uk-container-center
          %h3.uk-text-center.uk-text-bold
            -brand
            ="- система передачи показаний коммунальных счетчиков"
          .uk-container-center.uk-width-large-2-3
            .uk-grid
              .uk-width-medium-1-4
                %h4.uk-text-center Помощь и поддержка
              .uk-width-medium-1-4
                %h4.uk-text-center Жить стало проще
              .uk-width-medium-1-4
                %h4.uk-text-center Подписка на новости
              .uk-width-medium-1-4
                %h4.uk-text-center Мы в сети