#templatefirst{:style=>"display: none;"}
  %div{:id=>"channel{0}"}
    .uk-badge.uk-badge-success
      Получатель показаний №{0}
    .uk-placeholder
      %p
        Введите название получателя, например,
        %code ДУК
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        //%label{:for=>"channelname{0}"} Название:
        %input.channelname.uk-width-1-1{:type=>"text", :placeholder=>"Название", :name=>"channelname{0}", :id=>"channelname{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelname{0}"}
    .uk-placeholder
      %p
        Выберите способ передачи показаний (по SMS или по электронной почте) и укажите адрес электронной почты или мобильный номер получателя
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        //%label{:for=>"channeltype{0}"} Способ передачи:
        %input.channeltype{:type=>"radio", :name=>"channeltype{0}", :value=>"email", :id=>"channeltype{0}"} по электронной почте
        %input.channeltype{:type=>"radio", :name=>"channeltype{0}", :value=>"sms", :id=>"channeltype{0}"} по SMS
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channeltype{0}"}
      .uk-form-row{:style=>"margin-bottom: 20px; display: none;", :id=>"channelemail{0}"}
        %input.channelemail.uk-width-1-1{:type=>"text", :placeholder=>"Адрес электронной почты", :name=>"channelemail{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelemail{0}"}
        %br
        %input.emailtomyself{:type=>"checkbox", :name=>"emailtomyself{0}", :value=>"yes", :id=>"emailtomyself{0}"} Отправлять копию на мой адрес электронной почты
      .uk-form-row{:style=>"margin-bottom: 20px; display: none;", :id=>"channelsms{0}"}
        %input.channelsms.uk-width-1-1{:type=>"text", :placeholder=>"Номер мобильного телефона", :name=>"channelsms{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelsms{0}"}
    .uk-placeholder
      %p
        Сформируйте шаблон сообщения, который ежемесячно будет отправляться получателю показаний. Для включения в шаблон
        %code
          элементов данных
        , находящихся справа, перенесите их в текстовое поле или дважды кликните на них.
        Вы также можете внести в шаблон любой текст, который тоже будет отправлен получателю:
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        //%label{:for=>"channelpattern{0}"} Шаблон сообщения:
        %textarea.channelpattern.uk-width-1-1{:type=>"text", :name=>"channelpattern{0}", :rows=>"6", :id=>"channelpattern{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelpattern{0}"}
      %p
        Для проверки корректности формирования сообщения по вашему шаблону, воспользуйетсь кнопкой
        %code
          тест
      .uk-text-center
        %a.checkpattern.uk-button{:href=>"#", :id=>"checkpattern{0}"}
          Тест

#template{:style=>"display: none;"}
  %div{:id=>"channel{0}"}
    .uk-badge.uk-badge-success
      Получатель показаний №{0}
    .uk-placeholder
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        //%label{:for=>"channelname{0}"} Название:
        %input.channelname.uk-width-1-1{:type=>"text", :placeholder=>"Название", :name=>"channelname{0}", :id=>"channelname{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelname{0}"}
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        %label{:for=>"channeltype{0}"} Способ передачи:
        %input.channeltype{:type=>"radio", :name=>"channeltype{0}", :value=>"email", :id=>"channeltype{0}"} по электронной почте
        %input.channeltype{:type=>"radio", :name=>"channeltype{0}", :value=>"sms", :id=>"channeltype{0}"} по SMS
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channeltype{0}"}
      .uk-form-row{:style=>"margin-bottom: 20px; display: none;", :id=>"channelemail{0}"}
        %input.channelemail.uk-width-1-1{:type=>"text", :placeholder=>"Адрес электронной почты", :name=>"channelemail{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelemail{0}"}
        %br
        %input.emailtomyself{:type=>"checkbox", :name=>"emailtomyself{0}", :value=>"yes", :id=>"emailtomyself{0}"} Отправлять копию на мой адрес электронной почты
      .uk-form-row{:style=>"margin-bottom: 20px; display: none;", :id=>"channelsms{0}"}
        %input.channelsms.uk-width-1-1{:type=>"text", :placeholder=>"Номер мобильного телефона", :name=>"channelsms{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelsms{0}"}
      .uk-form-row{:style=>"margin-bottom: 20px;"}
        %label{:for=>"channelpattern{0}"} Шаблон сообщения:
        %textarea.channelpattern.uk-width-1-1{:type=>"text", :name=>"channelpattern{0}", :rows=>"6", :id=>"channelpattern{0}"}
        %br
        %label.error.uk-text-small.uk-text-danger{:for=>"channelpattern{0}"}
      .uk-text-center
        %a.checkpattern.uk-button{:href=>"#", :id=>"checkpattern{0}"}
          Тест

.lane2
  %h1 Создание получателя показаний
  .uk-panel.uk-panel-box
    %form#channel.uk-form{:action => "/home/#{@home_index}/channel/new", :method=>"post"}
      -#
        %p
        %div
          -brand
          подерживает передачу показаний по email и по SMS. Передача показаний по SMS возможна только после
          %a{:href=>"/upgrade"} покупки полного функционала.
      %p
        %div
          Для настройки получателя показаний вы должны знать:
          %ul
            %li адрес электронной почты получателя (если показания будут передаваться по электронной почте)
            %li мобильный номер получателя (если показания будут передаваться по SMS)
            %li формат, отправляемого получателю сообщения (более актуально для передачи по SMS, т.к. как правило показания по электронной почте передаются в произвольной форме)
          Эту информацию вы можете уточнить на сайтах, обслуживающих Ваш дом, компаний.
      %p
        %div
          При помощи кнопок
          %code +
          и
          %code -
          Вы можете создать необходимое количество получателей.
      .uk-container-center.uk-width-1-1
        .uk-grid
          .uk-width-2-3
            .uk-panel.uk-panel-box.uk-panel-box-secondary.uk-margin-bottom
              #channels
            .uk-text-center
              %button.uk-button#btnDel{:disabled=>"", :style=>"margin-right: 20px;", :type=>"button"}
                %i.uk-icon-minus
              %button.uk-button#btnAdd{:type=>"button"}
                %i.uk-icon-plus
          .uk-width-1-3
            .uk-panel.uk-panel-box.uk-panel-box-secondary.uk-margin-bottom
              //{"data-uk-sticky" => "{top:50, bottom:590}", :style=>"z-index: 1;"}
              -patternpanel
      .uk-text-center
        %button.uk-button.uk-button-primary{:type=>"submit"}
          Сохранить
          %i.uk-icon-angle-double-right

#patterntestmodal.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h2 Тест шаблона
    %p
      %div
        Ниже находится пример сообщения, сформированного по вашему шаблону. Разумеется, вместо
        %code ##
        будут ваши реальные показания счетчиков, которые вы введете перед отправкой.
    %pre
      %code
        #patterntestresult

:javascript
  
  $(function() {
  
    $("input[type=radio][name*='notificationtype']").change(function() {
        if (this.value == 'email') {
            $('#notificationemail').show();
            $('#notificationsms').hide();
            $('#notificationdate').show();
        }
        if (this.value == 'sms') {
            $('#notificationemail').hide();
            $('#notificationsms').show();
            $('#notificationdate').show();
        }
        if (this.value == 'none') {
            $('#notificationemail').hide();
            $('#notificationsms').hide();
            $('#notificationdate').hide();
        }
    });
    
    $(document.body).on("change", "input[type=radio][name*='channeltype']", function() {
        var k = ($(this).attr('name')).match(/\d+$/);
        if (this.value == 'email') {
            $('#channelemail'+k).show();
            $('#channelsms'+k).hide();
        }
        else if (this.value == 'sms') {
            $('#channelemail'+k).hide();
            $('#channelsms'+k).show();
        }
    });

    $("#btnAdd").click(addRow);
    $("#btnDel").click(delRow);

    var templatefirst = jQuery.validator.format($("#templatefirst").html());
    var template = jQuery.validator.format($("#template").html());

    function addRow() {
      if (i == 1 ) {
        $("#channels").append(templatefirst(i));
      }
      else {
        $("#channels").append(template(i));
      }
      initDroppable($("#channelpattern"+i));
      i++;
      if (i>2) {
        $('#btnDel').prop('disabled', false)
      }
    }
    
    function delRow() {
      if(i>2) {
        i--;
        $("#channel" + i).remove();
        if (i==2) {
          $('#btnDel').prop('disabled', true)
        }
      }
    }

    var i = 1;

    addRow();

    $.validator.addMethod("nameRequired", $.validator.methods.required, "Введите название");
    $.validator.addMethod("nameMaxlength", $.validator.methods.maxlength, $.format("Название должно быть менее {0} символов"));

    $.validator.addMethod("chaneltypeRequired", $.validator.methods.required, "Выберите канал передачи показаний счетчиков");
    
    $.validator.addMethod("emailRequired", $.validator.methods.required, "Введите адрес электронной почты получателя показаний счетчиков");
    $.validator.addMethod("emailEmail", $.validator.methods.email, "Введите корректный адрес электронной почты");

    $.validator.addMethod("smsRequired", $.validator.methods.required, "Введите мобильный номер получателя показаний счетчиков");
    
    $.validator.addMethod("patternRequired", $.validator.methods.required, "Введите шаблон");
    $.validator.addMethod("patternMaxlength", $.validator.methods.maxlength, $.format("Название должно быть менее {0} символов"));
    $.validator.addMethod("patternHasindication", function(value, element) { 
      var content = $(element).val();
      return /{ПОКАЗАНИЕ_СЧЕТЧИКА_\d+_\d+}/.test(content); 
    }, "Шаблон сообщения не содержит ни одного показания счетчиков");

    $.validator.addClassRules({
      channelname: {
        nameRequired: true,
        nameMaxlength: 500
      },
      channeltype: {
        chaneltypeRequired: true
      },
      channelemail: {
        emailRequired: true,
        emailEmail: true
      },
      channelsms: {
        smsRequired: true,
        remote: {
          url: "/ajax/checkphone",
          type: "post"
        }
      },
      channelpattern: {
        patternRequired: true,
        patternMaxlength: 65535,
        patternHasindication: true
      }
    });

    $('#channel').validate();

    $(".draggable").draggable({
      appendTo: "body",
      opacity: 0.7,
      helper: "clone",
      cursor: "move",
      revert: "invalid"
    });

    $(".draggable").dblclick(function(){
          var $this = $(this);
          var tempid = $this.text().trim();
          var dropText;
          dropText = "{"+tempid+"} ";
          var droparea = document.getElementById($("textarea:last").attr('name'));
          var range1 = droparea.selectionStart;
          var range2 = droparea.selectionEnd;
          var val = droparea.value;
          var str1 = val.substring(0, range1);
          var str3 = val.substring(range1, val.length);
          droparea.value = str1 + dropText + str3;
          SetCaretAtEnd(droparea);
    });

    //initDroppable($(".channelpattern"));
    function initDroppable($elements) {
      $elements.droppable({
        hoverClass: "textarea",
        accept: ":not(.ui-sortable-helper)",
        drop: function(event, ui) {
          var $this = $(this);
          var tempid = ui.draggable.text().trim();
          var dropText;
          dropText = "{"+tempid+"}";
          var droparea = document.getElementById($this.attr("id"));
          var range1 = droparea.selectionStart;
          var range2 = droparea.selectionEnd;
          var val = droparea.value;
          var str1 = val.substring(0, range1);
          var str3 = val.substring(range1, val.length);
         droparea.value = str1 + dropText + str3;
        }
      });
    }
    
    $(document.body).on("click", ".checkpattern", function() {
      var k = ($(this).attr('id')).match(/\d+$/);
      var data = $('#channelpattern'+k).val();
      var modal = $.UIkit.modal("#patterntestmodal");
      $.ajax({
        type: "POST",
        dataType: "text",
        url: "/ajax/testpattern",
        data: "pattern=" + data,
        success: function(reply_text) {
          //alert(reply_text);
          $("#patterntestresult").html(reply_text);
          modal.show();
        }
      });
    })

    $("#channel").submit(function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });
  });