.lane{:style => "background-color: #FFF;"}
  %h2
    %div
      При обработке платежа возникла ошибка!
  %p
    Сообщите о проблеме разработчикам сайта и мы обязательно разберемся и исправим ее.
  .uk-text-center
    %a.uk-button.uk-button-primary{:href=>"mailto:sergey.rodionov@gmail.com"}
      Сообщить о проблеме