.lane2
  .uk-h2.uk-text-center
    Ваша учетная запись
    %mark
      не содержит данных о получателях показаний счетчиков.
    Без этой информации
    -brand
    не может осуществлять передачу показаний.
  %p.uk-text-center
    Пожалуйста, перейдите на страницу своего профиля и добавьте как минимум одного получателя показаний.
  %br
  %br
  .uk-text-center
    %a.uk-button.uk-button-primary.uk-button-large{:href=>'/profile'}
      Перейти на страницу профиля
  %br
  %br
  .uk-text-center
    %a{:href=>'/help/newchannel'} Справка : создание нового нового получателя показаний