.lane{:style => "background-color: #FFF;"}
  %div
    Ваша учетная запись еще не содержит данных о каналах передачи показаний счетчиков. Без этой информации
    -brand
    не может осуществлять передачу показаний. Пожалуйста, перейдите на страницу своего профиля и добавьте там каналы передачи значений счетчиков.
  %br
  %br
  .uk-text-center
    %a.uk-button.uk-button-primary.uk-button-large{:href=>'/profile'}
      Перейти на страницу профиля
