.lane{:style => "background-color: #FFF;"}
  %div
    Ваша учетная запись не содержит данных ни о помещениях, ни о счетчиках, ни о получателях показаний.
    Для вашего удобства, мы в
    -brand
    , подготовили простой и удобный "мастер" настройки учетной записи, используя который вы за пару минут настроите все необходимые параметры.
    Нажмите кнопку ниже для начала настройки.
  %br
  %br
  .uk-text-center
    %a.uk-button.uk-button-primary.uk-button-large{:href=>'/setup'}
      Запустить "мастер" настройки учетной записи
