.lane2
  .uk-panel.uk-panel-box
    .uk-alert.uk-alert-warning
      %p
        %div
          Ваша учетная запись имеет базовый тип доступа и запрашиваемая операция недоступна. Сравнение базового и полного доступа приведено ниже:
    .uk-container-center.uk-width-large-2-3.uk-margin
      -compare
  %h2.uk-text-center
    Для использования всех функций
    -brand
    %a{:href=>"/upgrade"}
      купите полный функционал