.lane{:style => "background-color: #FFF;"}
  %div
    Ваша учетная запись имеет базовый тип доступа и запрашиваемая операция недоступна. Сравнение базового и полного доступа приведено ниже:
    .uk-container-center.uk-width-large-2-3.uk-margin
      -compare
    Для использования всех функций
    -brand
    %a{:href=>"/upgrade"}
      купите полный функционал