.lane{:style => "background-color: #FFF;"}
  %h2
    %div
      Забыли пароль?
  %p
    Из соображений безопасности
    -brand
    не хранит пароли наших пользователей в открытом виде, поэтому предлагаем Вам воспользоваться функцией сброса пароля. Для сброса пароля введите Ваш адрес электронной почты, указанный при регистарции, и нажмите кнопку
    %code сбросить пароль
    После этого на вашу электронную почту будет отправлено письмо с дальнейшими инструкциями.
    Если для входа на
    -brand
    использовался Ваш профиль в социальных сетях, то воспользуйтесь функцией восстановления пароля в этих социальных сетях.
  .uk-container-center.uk-width-2-3
    %form.uk-form{:action => "/resetpassword", :method=>"post"}
      .uk-form-row
        %input.uk-width-1-1{:type=>"email", :required=>"", :placeholder=>"Введите ваш адрес электронной почты", :name=>"email"}
        .uk-text-center
          %button.uk-button.uk-button-primary.uk-margin-top{:type=>"submit"} Сбросить пароль