.uk-container-center.uk-width-large-1-1.lane{:style => "background-color: #FFF;"}
  %h1 Пользовательское соглашение
  %p Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта www.countr.io (далее — «Сайт»).
  %h2 Общие условия
  %ol
    %li Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.
    %li Настоящее Соглашение является публичной офертой. Получая доступ к материалам и функциям Сайта Пользователь считается присоединившимся к настоящему Соглашению.
    %li Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.
  %h2 Обязательства Пользователя
  %ol
    %li Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.
    %li Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.
    %li Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.
    %li Пользователь принимает положение о том, что оплата Пользователем дополнительных сервисов сайта считается дарением денежных средств физическому лицу. 
  %h2 Прочие условия
  %ol
    %li Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению путем переговоров в соответствии с действующим законодательством Российской Федерации.
    %li Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.
    %li Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
    %li Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.
  %h2 Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.