body {
  background: url("/img/noisy.png") rgba(233, 233, 233, 0.5);
}

body, h1, h2, h3, h4, h5 {
  //font-family: 'Roboto', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  //font-family: 'Lobster', cursive;
  /font-family: 'Poiret One', cursive;
  color: inherit;
}
/*h1, h2, h3 {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}*/

.uk-text-small {
    font-size: 14px;
}
a, .uk-link {
  color: #40E0D0;
  text-decoration: underline;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}
h3 {
  font-weight: 400;
}

body, h4, h5 {
  font-weight: 400;
}

body, html {
  margin: 0px;
  height: 100%;
  font-size: 18px;
}

.lane {
  padding: 50px;
}

.lane2 {
  padding: 50px;
}

.lane3 {
  background-color: rgba(0, 0, 0, 0.5);
  //background: url("/img/flatbg.jpg");
  color: white;
  margin: 50px 100px;
  padding: 50px;
  //border-radius: 5px;
  //border: 3px solid rgba(64, 224, 208, 0.7);
  //border: 3px solid rgba(255,255,255,0.2);
}

.lane-borders{
  border-top: 5px solid rgba(1,1,1,0.2) !important;
  border-bottom: 5px solid rgba(1,1,1,0.2) !important;
  //border-top: 5px solid !important;
  //border-bottom: 5px solid !important;
}

.tm-footer, .tm-footer a {
    color: #DDDDDD !important;
}

.tm-footer {
    position: absolute;
    width:100%;
    bottom: 0;
    padding: 40px 0;
    //background: none repeat scroll 0 0 #353535;
    background: url("/img/noisy.png") rgba(53, 53, 53, 1);
}

.tm-footer uk-container-center h2 {
    color: #999;
}

.tm-navbar {
    background: none repeat scroll 0 0 #252525;
    //border: medium none;
    padding: 5px 0;
    position: relative;
}

.uk-navbar-nav>li>a {
    text-shadow: none;
    color: #40E0D0;
}

.uk-navbar-nav>li>a.highlighted {
    color: white;
    background-color: #804050;
}

.uk-panel-box-primary {
    background-color: rgba(64, 224, 208, 0.15);
    color: #40E0D0;
    border-color: #40E0D0;
    border: 2px solid;
}

.uk-button {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.2em;
    border-radius: 2px;
    border: 2px solid rgba(1,1,1,0.2);
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    text-shadow: none;
}

.uk-button-mini {
    font-size: 0.8em !important;
}
.uk-button-primary, .uk-badge-success {
    background-color: #40E0D0;
    color: darkcyan;
}

.gplusbutton {
    background-color: rgba(1,1,1,0);
    border: 2px solid #dd4b39;
    color: #dd4b39;
    line-height: 48px;
}

.gplusbutton:hover {
    background-color: #dd4b39;
    border: 2px solid #dd4b39;
    color: #fff;
    line-height: 48px;
}

.gplusbuttonrnd {
    background-color: rgba(1,1,1,0);
    border: 2px solid #dd4b39;
    color: #dd4b39;
    line-height: 48px;
    border-radius: 32px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

.gplusbuttonrnd:hover {
    background-color: #dd4b39;
    border: 2px solid #dd4b39;
    color: #fff;
    line-height: 48px;
    border-radius: 48px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

.facebookbutton {
    background-color: rgba(1,1,1,0);
    border:2px solid #3b5999;
    color:#3b5999;
    line-height: 48px;
}

.facebookbutton:hover {
    background-color: #3b5999;
    border:2px solid #3b5999;
    color:#fff;
    line-height: 48px;
}

.vkbutton {
    background-color: rgba(1,1,1,0);
    border:2px solid #45668e;
    color:#3b5999;
    line-height: 48px;
}

.vkbutton:hover {
    background-color: #45668e;
    border:2px solid #45668e;
    color:#fff;
    line-height: 48px;
}

.facebookbuttonrnd {
    background-color: rgba(1,1,1,0);
    border:2px solid #3b5999;
    color:#3b5999;
    line-height: 48px;
    border-radius: 48px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

.facebookbuttonrnd:hover {
    background-color: #3b5999;
    border:2px solid #3b5999;
    color:#fff;
    line-height: 48px;
    border-radius: 48px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

.vkbuttonrnd {
    background-color: rgba(1,1,1,0);
    border:2px solid #45668e;
    color:#3b5999;
    line-height: 48px;
    border-radius: 48px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

.vkbuttonrnd:hover {
    background-color: #45668e;
    border:2px solid #45668e;
    color:#fff;
    line-height: 48px;
    border-radius: 48px;
    min-width: 48px;
    min-height: 48px;
    -webkit-transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
    transition: .3s background ease-in-out, .2s top ease-in-out, .3s box-shadow ease-in-out;
}

label.error {
    position: absolute;
}

.uk-form input[type=checkbox]:checked:before {
    color: #40E0D0;
}

.draggable:hover {
    cursor: move;
}

.uk-description-list-horizontal > dt {
    width: 200px;
}

.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border-bottom: dashed 1px #40E0D0;
}

table.dataTable thead th,
table.dataTable.no-footer  {
    border-bottom: 1px solid #40E0D0;
}

table.dataTable tbody tr.group {
    background-color: rgba(64, 224, 208, 0.15);
    font-size: 0.75em;
    font-weight: bold;
}

mark {
    background: none repeat scroll 0 0 rgba(64, 224, 208, 0.15);
}

.uk-alert {
  line-height: 25px;
  border-radius: 0;
}

.step {
    background-color: rgba(64, 224, 208, 0.15);
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    padding: 1px 6px 1px 2px;
    position: relative;
    top: -1px;
}

.step_to_corner {
  display: block;
  width: 0;
  height: 0;
  border: 9px solid;
  border-color: transparent transparent transparent rgba(64, 224, 208, 0.15);
  display: block;
}

.helpimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(64, 224, 208, 0.15);
}

.uk-dropdown-navbar {
  background: rgba(64, 224, 208, 0.9);
  border-radius: 0;
}

.bg-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*min-height: 450px;*/
}

.bg-img-fixed {
    background-attachment: fixed;
    /*min-height: 350px;*/
}
.bg-img, .bg-img-fixed {
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.uk-form select, .uk-form textarea, .uk-form input:not([type]), .uk-form input[type="text"], .uk-form input[type="password"], .uk-form input[type="datetime"], .uk-form input[type="datetime-local"], .uk-form input[type="date"], .uk-form input[type="month"], .uk-form input[type="time"], .uk-form input[type="week"], .uk-form input[type="number"], .uk-form input[type="email"], .uk-form input[type="url"], .uk-form input[type="search"], .uk-form input[type="tel"], .uk-form input[type="color"] {
    border-radius: 0;
  }

.uk-panel-box {
  border-radius: 0;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    //opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    //color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#slide-1 .bcg {background-image:url('../img/digits.jpg')}

#slide-2 .bcg {background-image:url('../img/people.jpg')}